<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <h2>
        <i class="fa-solid fa-tents text-success"></i>
        <strong>キャンプサイトの種類</strong>
        <i class="fa-solid fa-tents text-success"></i>
      </h2>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="container-fluid mt-3 mb-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 text-center rounded-lg rounded mr-2" style="background: linear-gradient(#EEE8AA, #FFFAF0);">
      <h4 class="font-weight-bold mt-3">高原キャンプ場</h4>
      <h6 class="font-weight-bold">特徴</h6>
      <p>平地よりも高い山間部に作られたキャンプサイトです。<br>
        地面は芝生で整備されていることが多く、地形も平坦な場合が多いです。<br>
        きちんと整備されている芝生はまるで絨毯の様にフワフワで気持ち良いものです。<br>
        また、敷地も広い場所が多く、ドッグランなどが併設されていることもあり、ペットを連れてキャンプをするのもおすすめです。
      </p>
      <h6 class="font-weight-bold mt-2">注意点</h6>
      <p>
        芝生はしっかりと手入れをしないと傷んで枯れてしまいます。<br>
        地面を掘り返したり、熱いものを直接置いたりするのは避けましょう。焚き火時には、焚き火台の使用は必須です。
        また、山間部なので天候の変化にも注意が必要です。
      </p>
    </div>
    <div class="col-2 text-center rounded-lg rounded mr-2" style="background: linear-gradient(#BAD3FF, #F8F8FF);">
      <h4 class="font-weight-bold mt-3">海辺キャンプ場</h4>
      <h6 class="font-weight-bold">特徴</h6>
      <p>
        海辺サイトには、砂浜や岩場の波打ち際でテントを張れるサバイバル感満載のキャンプ場から、防風林を隔て整備されたエリアでまったり楽しめるキャンプ場まであります。<br>
        夏場は海水浴からそのままキャンプなんていう贅沢な遊び方も出来ます。
      </p>
      <h6 class="font-weight-bold mt-2">注意点</h6>
      <p>
        海沿いのキャンプ場は、遮るものがないため風が強いことが多いです。テントやタープなどが飛ばされないようにしましょう。<br>
        また、潮風に乗って、キャンプギアには海水が付着し、錆の原因にもなります。<br>
        帰宅後はしっかりと拭き上げて、メンテナンスしましょう。
      </p>
    </div>
    <div class="col-2 text-center rounded-lg rounded mr-2" style="background: linear-gradient(#A7F1FF, #E0FFFF);">
      <h4 class="font-weight-bold mt-3">河原キャンプ場</h4>
      <h6 class="font-weight-bold">特徴</h6>
      <p>
        川の流れに沿うように広がるサイトです。中流域にあるキャンプ場の中には広々と整備された場所もあり、大人数でのBBQなどのイベントにも向いています。<br>
        また、清流ならではの美しい光景を眺めながらのキャンプは癒し効果抜群。渓流釣りや沢登りなど、アクティビティも豊富です。
      </p>
      <h6 class="font-weight-bold mt-2">注意点</h6>
      <p>
        河原サイトで何よりも気をつけないといけないのは、大雨やダムの放流等による急な増水です。<br>
        緊急時には管理人の指示に従う他、事前に避難場所も確認するようにしましょう。<br>
        また、虫も多い傾向にあります。特にアブやブヨなどは水辺に多くいるので、虫対策は万全にしましょう。
      </p>
    </div>
    <div class="col-2 text-center rounded-lg rounded mr-2" style="background: linear-gradient(#AEFFBD, #F0FFF0);">
      <h4 class="font-weight-bold mt-3">林間キャンプ場</h4>
      <h6 class="font-weight-bold">特徴</h6>
      <p>
        木々が立ち並ぶ森林の中にあるサイトです。自然の地形をそのまま活かしている場合が多いので、サイト内にある木々を上手く使ったレイアウトなどを楽しめます。<br>
        また、林間サイトは日差しを遮るものが多いので、日中も涼しく、木漏れ日を浴び、野鳥の囀りを聞きながらまったり過ごすことが出来ます。
      </p>
      <h6 class="font-weight-bold mt-2">注意点</h6>
      <p>
        草木の障害物があったりするので、林間サイトの中でもなるべく開けた場所を選ぶなどの工夫が必要です。<br>
        また、山や林の中なので、他のサイトに比べて虫も多い傾向にあります。こちらも虫対策は万全にしましょう。<br>
        なお、地面が乾燥している場合は、枯れ木や枯れ葉など燃えやすいものが多いですので、焚き火をする場合には十分に気をつけましょう。
      </p>
    </div>
    <div class="col-2 text-center rounded-lg rounded mr-2" style="background: linear-gradient(#D9E5FF, #F0FFFF);">
      <h4 class="font-weight-bold mt-3">湖畔キャンプ場</h4>
      <h6 class="font-weight-bold">特徴</h6>
      <p>
        水際でテントを張れる湖畔サイトは人気が高く、中にはカヌーに乗らなければ辿り着けないサイトまであるとか。<br>
        無風時の水面は鏡のように美しくその様子を眺めながらのひとときは、忘れることのできない良き思い出となるでしょう。<br>
        また、カヌーやフィッシングなど、さまざまなアクティビティが楽しめるのも湖畔キャンプの良いところです。
      </p>
      <h6 class="font-weight-bold mt-2">注意点</h6>
      <p>
        河原サイト同様、水の事故には細心の注意を払いましょう。特に、お酒を飲んでテンションが上がってしまい、湖で泳いでみよう！なんてことは、絶対にしてはいけません。<br>
        きちんと管理人の指示に従い、避難場所などの確認は忘れずに行いましょう。
      </p>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <%= form_with(url: campsites_path, method: :get, data: {remote: true}) do |f| %>
        <span class="font-weight-bold h4">県名</span>
        <%= f.collection_select :prefecture_id, @prefectures, :id, :prefecture_name, { prompt: '選択' }, class: "form-control-sm", style:"width: 100px;" %>
        <span class="font-weight-bold h4 ml-3">種類</span>
        <%= f.collection_select :campsite_type_id, @campsite_types, :id, :type_name, { prompt: '選択' }, class: "form-control-sm", style:"width: 100px;" %>
        <%= f.submit '表示', class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="container" id="campsite-list">
  <%= render 'public/campsites/index', campsites: @campsites %>
</div>
