<div class="container-fluid mt-3 mb-3">
  <div class="row">
    <div class="col text-center">
      <span class="h1"><%= @campsite.name %></span>
      <% if flash[:error] %>
      <ul>
        <% flash[:error].each do |message| %>
          <li class="list-unstyled font-weight-bold text-danger"><%= message %></li>
        <% end %>
      </ul>
      <% end %>
      <% if flash[:notice] == "タグが入力されていません。" %>
      <ul>
        <li class="list-unstyled font-weight-bold text-danger"><%= flash[:notice] %></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2 mt-3 mb-5">
      <% if @campsite.campsite_image.attached? %>
        <%= image_tag @campsite.campsite_image, size: "200x200", class: "image-fit" %>
      <% else %>
        <%= image_tag asset_path('no_image2.jpg'), size: "200x200" %>
      <% end %>
    </div>
    <div class="col-1"></div>

    <div id="map"></div>

<script type="text/javascript">
      function initMap() {
        var test ={lat: <%= @campsite.latitude %>, lng: <%= @campsite.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: test
                  });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @campsite.address %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                    });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>

    <div class="col-5">
      <table class="table">
        <tr>
          <th class="border-0">種類</th>
          <td class="border-0"><%= @campsite.campsite_type.type_name %></td>
        </tr>
        <tr>
          <th class="border-0 col-4">県名</th>
          <td class="border-0"><%= @campsite.prefecture.prefecture_name %></td>
        </tr>
        <tr>
          <th class="border-0">住所</th>
          <td class="border-0"><%= @campsite.address %></td>
        </tr>
        <tr>
          <th class="border-0">電話番号</th>
          <td class="border-0"><%= @campsite.phone_number %></td>
        </tr>
        <tr>
          <th class="border-0">アクセス方法</th>
          <td class="border-0"><%= @campsite.route %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <span class="h3">特徴</span>
      <p class="mt-2"><%= simple_format(@campsite.feature, class: "h4") %></p>
    </div>
    <div class="col text-center">
      <span class="h3">注意事項</span>
      <p class="mt-2"><%= simple_format(@campsite.considerations, class: "h4") %></p>
    </div>
  </div>
</div>
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">レビュー作成</button>
    </div>
    <div class="col">
      <%= form_with(url: campsite_path(@campsite), method: :get, data: {remote: true, type: "script"}) do |f| %>
        <span class="font-weight-bold h4">季節</span>
        <%= f.collection_select :season_id, @seasons, :id, :season_name, { prompt: '選択' }, class: "form-control-sm", style:"width: 100px;" %>
        <span class="font-weight-bold ml-3 h4">タグ</span>
        <%= f.text_field :content, class:"form-control-sm align-middle text-center", style:"width: 100px;" %>
        <%= f.hidden_field :search_method, :value => "perfect" %>
        <%= f.submit 'レビュー検索', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">レビュー作成</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'public/reviews/new', reviews: @review %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="container" id="review-list">
  <%= render 'public/reviews/index', reviews: @reviews, campsite: @campsite %>
</div>