<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <h1>キャンプ場新規登録</h1>
      <% if @campsite.errors.any? %>
        <%= @campsite.errors.count %>件の記入ミスがあります
        <ul>
          <% @campsite.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <%= form_with model: @campsite, url: admin_campsites_path, class: "form-row" do |f| %>
        <table class="table">
          <tr>
            <th class="border-0 col-2"><%= f.label :campsite_image, 'キャンプ場写真' %></th>
            <td class="border-0 col-5"><%= f.file_field :campsite_image, accept: "image/*" %></td>
            <td class="border-0 col-5"></td>
          </tr>
          <tr>
            <th class="border-0"><%= f.label :name, 'キャンプ場名' %></th>
            <td class="border-0"><%= f.text_field :name, class:"form-control form-control-sm align-middle", style:"width: 400px;" %></td>
          </tr>
          <tr>
            <th class="border-0"><%= f.label :address, 'キャンプ場住所' %></th>
            <td class="border-0"><%= f.text_area :address, class:"form-control form-control-sm align-middle", style:"width: 400px;" %></td>
          </tr>
          <tr>
            <th class="border-0"><%= f.label :prefecture_id, '県名' %></th>
            <td class="form-group border-0">
              <%= f.select 'prefecture_id', options_for_select(Prefecture.prefecture_names.map {|key, value| [key, value]}), {}, class:"form-control form-control-sm align-middle text-center", style:"width: 100px;" %>
            </td>
          </tr>
          <tr>
            <th class="border-0"><%= f.label :campsite_type_id, 'キャンプ場種類' %></th>
            <td class="border-0"><%= f.select 'campsite_type_id', options_for_select(CampsiteType.type_names.map {|key, value| [key, value]}), {}, class:"form-control form-control-sm align-middle text-center", style:"width: 70px;" %></td>
          </tr>
          <tr>
            <th class="border-0"><%= f.label :phone_number, '電話番号' %></th>
            <td class="border-0"><%= f.text_field :phone_number, class:"form-control form-control-sm align-middle", style:"width: 200px;" %></td>
          </tr>
          <tr>
            <th class="border-0"><%= f.label :route, 'アクセス方法' %></th>
            <td class="border-0"><%= f.text_area :route, class:"form-control form-control-sm align-middle", style:"width: 400px;" %></td>
          </tr>
          <tr>
            <th class="border-0"><%= f.label :feature, '特徴' %></th>
            <td class="border-0"><%= f.text_area :feature, class:"form-control form-control-sm align-middle", style:"width: 400px; height: 200px;" %></td>
          </tr>
          <tr>
            <th class="border-0"><%= f.label :considerations, '注意事項' %></th>
            <td class="border-0"><%= f.text_area :considerations, class:"form-control form-control-sm align-middle", style:"width: 400px; height: 200px;" %></td>
          </tr>
          <tr>
            <td class="border-0"></td>
            <td class="border-0 text-center"><%= f.submit '新規登録', class: 'btn btn-lg btn-success' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>