<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <h1><%= @campsite.name %></h1>
    </div>
    <div class="col">
      <%= link_to "編集する", edit_admin_campsite_path(@campsite), class: "btn btn-success" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">
      <%= image_tag @campsite.campsite_image, size: "200x200" %>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <table class="table">
        <tr>
          <th class="border-0 col-4">県名</th>
          <td class="border-0"><%= @campsite.prefecture.prefecture_name %></td>
        </tr>
        <tr>
          <th class="border-0">住所</th>
          <td class="border-0"><%= @campsite.address %></td>
        </tr>
        <tr>
          <th class="border-0">種類</th>
          <td class="border-0"><%= @campsite.campsite_type.type_name %></td>
        </tr>
        <tr>
          <th class="border-0">電話番号</th>
          <td class="border-0"><%= @campsite.phone_number %></td>
        </tr>
        <tr>
          <th class="border-0">アクセス方法</th>
          <td class="border-0"><%= @campsite.route %></td>
        </tr>
        <tr>
          <th class="border-0">特徴</th>
          <td class="border-0"><%= @campsite.feature %></td>
        </tr>
        <tr>
          <th class="border-0">注意事項</th>
          <td class="border-0"><%= @campsite.considerations %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>