<div style="height: 610px;">
  <div class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
          <h1>管理者ログイン</h1>
          <p class="notice"><%= notice %></p>
          <p class="alert pl-0"><%= alert %></p>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-9">
        <table class="table table-borderless table-sm">
          <tr class="border-0">
            <td class="col-3 h4"><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-6" %></td>
          </tr>
          <tr>
            <td class="col-3 h4"><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", class:"col-6" %></td>
          </tr>
          <tr>
            <td class="col-3"></td>
            <td class="pt-4 pl-5"><%= f.submit "ログイン", class:"btn btn-dark col-3 ml-5" %></td>
          </tr>
        </table>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <% end %>
</div>
<%= render "admin/shared/links" %>
