<div style="text-align:center; font-size:70px;" class="mt-4 mb-4">
  <h1>
    キャンプ用情報収集サイト<br>
    <i class="fa-solid fa-tent text-warning"></i>
    FOUR CAMP
    <i class="fa-solid fa-tent text-warning"></i><br>
    まずは<strong class="text-danger ">新規登録</strong>からお願いします！！<i class="fa-solid fa-arrow-turn-up"></i><i class="fa-solid fa-arrow-turn-up"></i>
  </h1>
</div>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <img src="<%= image_path('no_image1.jpg') %>" class="img-fluid ml-3">
    </div>
    <div class="swiper-slide">
       <img src="<%= image_path('Fourcamp_bg.jpg') %>" class="img-fluid">
    </div>
    <div class="swiper-slide">
       <img src="<%= image_path('no_image1.jpg') %>" class="img-fluid">
    </div>
    <div class="swiper-slide">
       <img src="<%= image_path('Fourcamp_bg.jpg') %>" class="img-fluid">
    </div>
  </div>

</div>
<div style="text-align:center; font-size:70px;" class="mt-4 mb-4">
  <img src="<%= image_path('Fourcamp_bg.jpg') %>" class="img-fluid img-thumbnail">
</div>
