<div style="height: 655px;">
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h1><%= @review.title %>の編集</h1>
        <% if @review.errors.any? %>
          <%= @review.errors.count %>件の記入ミスがあります
          <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <%= form_with model: @review, url: admin_campsite_review_path(@review.campsite_id), class: "form-row" do |f| %>
          <table class="table">
            <tr>
              <th class="border-0 text-center"><%= f.label :review_image, 'レビューイメージ' %></th>
              <td class="border-0"><%= f.file_field :review_image, accept: "image/*" %></td>
            </tr>
            <tr>
              <th class="border-0 text-center"><%= f.label :title, 'レビュータイトル' %></th>
              <td class="border-0"><%= f.text_field :title, class:"form-control form-control-sm align-middle", style:"width: 400px;" %></td>
            </tr>
            <tr>
              <th class="border-0 text-center"><%= f.label :star, '評価' %></th>
              <td id="star" class="border-0"><%= f.hidden_field :star, id: :review_star %></td>
              <script>
                $('#star').empty();
                  raty(document.getElementById('star'), {
                   starOn: '<%= asset_path('star-on.png') %>',
                   starOff: '<%= asset_path('star-off.png') %>',
                   scoreName: 'review[star]',
                   half: false
                });
              </script>
            </tr>
            <tr>
              <th class="border-0 text-center"><%= f.label :comment, 'コメント' %></th>
              <td class="border-0"><%= f.text_area :comment, class:"form-control form-control-sm align-middle", style:"width: 400px; height: 150px;" %></td>
            </tr>
            <tr>
              <td class="border-0"></td>
              <td class="border-0">
                <%= f.submit '変更保存', class: 'btn btn-success mr-3' %>
                <%= link_to "削除", admin_campsite_review_path(@review), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>