<div style="height: 655px;">
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h1><%= @review.title %></h1>
      </div>
      <div class="col">
        <%= link_to "編集", edit_admin_campsite_review_path(@review.campsite_id), class: "btn btn-lg btn-success" %>
        <%= link_to "削除", admin_campsite_review_path(@review), method: :delete, class: "btn btn-lg btn-danger", "data-confirm" => "本当に削除しますか？" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <% if @review.review_image.attached? %>
          <%= image_tag @review.review_image, size: "200x200", class: "image-fit" %>
        <% else %>
          <%= image_tag asset_path('no_image2.jpg'), size: "200x200" %>
        <% end %>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <table class="table">
          <tr>
            <th class="border-0 col-4">季節</th>
            <td class="border-0">
              <% @review.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="border-0"></td>
          </tr>
          <tr>
            <th class="border-0">評価</th>
            <td id="star-review-<%= @review.id %>" class="border-0"></td>
          　<script>
            $('#star-review-<%= @review.id %>').empty();
              raty(document.getElementById('star-review-<%= @review.id %>'), {
               starOn: '<%= asset_path('star-on.png') %>',
               starOff: '<%= asset_path('star-off.png') %>',
               scoreName: 'review[star]',
               score: <%= @review.star %>,
               half: false,
               readOnly: true,
            });
            </script>
            </tr>
            <tr>
              <td class="border-0"></td>
            </tr>
            <tr>
              <th class="border-0">投稿者</th>
              <td class="border-0"><%= @review.member.nickname %></td>
            </tr>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <h1>レビューコメント</h1>
        <p class="h3"><%= @review.comment %></p>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>