<div style="height: 655px;">
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h1><%= @member.name %></h1>
      </div>
      <div class="col">
        <% if @member.id == current_member.id %>
          <%= link_to "編集する", edit_member_path(current_member), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <% if @member.profile_image.attached? %>
          <%= image_tag @member.profile_image, class: "image-fit" %>
        <% else %>
          <%= image_tag asset_path('no_image2.jpg'), size: "250x250" %>
        <% end %>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <table class="table">
          <tr>
            <th class="border-0 col-4">会員ID</th>
            <td class="border-0 font-weight-bold"><%= @member.id %></td>
          </tr>
          <tr>
            <th class="border-0">会員名</th>
            <td class="border-0 font-weight-bold"><%= @member.name %>(<%= @member.name_ruby %>)</td>
          </tr>
          <tr>
            <th class="border-0">ニックネーム</th>
            <td class="border-0 font-weight-bold"><%= @member.nickname %></td>
          </tr>
          <tr>
            <th class="border-0">メールアドレス</th>
            <td class="border-0 font-weight-bold"><%= @member.email %></td>
          </tr>
          <tr>
            <th class="border-0">レビュー投稿数</th>
            <td class="border-0 font-weight-bold"><%= @member.reviews.count %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>