<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <span class="h1">お問い合わせ一覧</span>
    </div>
    <div class="col">
      <span>絞り込み表示</span>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th class="col-1">会員名</th>
            <th class="col-2">件名</th>
            <th class="col-1">ステータス</th>
          </tr>
        </thead>
        <% @contacts.each do |contact| %>
        <tbody>
          <tr class="text-center">
            <td>
              <%= contact.member.name %>
            </td>
            <td>
              <%= link_to edit_admin_contact_path(contact) do %>
                <%= contact.subject %>
              <% end %>
            </td>
              <% if contact.supported_status == 0 %>
              <td class="text-secondary font-weight-bold">
                <%= Contact.supported_statuses_i18n[contact.supported_status] %>
              </td>
              <% else %>
              <td class="text-success font-weight-bold">
                <%= Contact.supported_statuses_i18n[contact.supported_status] %>
              </td>
              <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>