<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <h1>レビュー新規作成</h1>
      <% if @review.errors.any? %>
        <%= @review.errors.count %>件の記入ミスがあります
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @review, url: campsite_reviews_path(params[:campsite_id]) do |f| %>
          <table class="table">
            <tr>
              <th><%= f.label :review_image, 'レビューイメージ' %></th>
              <td><%= f.file_field :review_image, accept: "image/*" %></td>
            </tr>
            <tr>
              <th><%= f.label :title, 'レビュータイトル' %></th>
              <td><%= f.text_field :title %></td>
            </tr>

            <tr>
              <th><%= f.label "季節" %></th>
              <td>
                <%= f.text_field :tag_name %>
                <%#= maptag_form.select :tag_id, options_from_collection_for_select(Tag.all, :id, :tag_name), { include_blank: true }, { class: 'form-control' } %>
                <%#= f.fields_for :tags do |tagmap_form| %>
                <%#= tagmap_form.label :tag_id, '季節' %>
                <%#= tagmap_form.select :tag_id, Tag.all.collect { |tag| [tag.tag_name, tag.id] } %>
                <%# end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :star, '評価', class:'col-md-3 col-form-label' %></td>
                <td id="star"><%= f.hidden_field :star, id: :review_star %></td>
              <script>
              $('#star').empty();
                raty(document.getElementById('star'), {
                 starOn: '<%= asset_path('star-on.png') %>',
                 starOff: '<%= asset_path('star-off.png') %>',
                 scoreName: 'review[star]',
                 half: false
                });
              </script>
            </tr>
            <tr>
              <th><%= f.label :comment, 'コメント' %></th>
              <td><%= f.text_area :comment %></td>
            </tr>
          </table>
          <div class="text-center col">
            <%= f.submit 'レビュー投稿', class: 'btn btn-success' %>
          </div>
        <% end %>
    </div>
  </div>
</div>