<div style="height: 610px;">
  <div class="mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <span class="h2">会員新規登録</span>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-9">
        <%= form_with model: @member, url: member_registration_path, id: 'new_member', class: 'new_member' do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table class="table table-borderless table-sm">
          <tr class="border-0 text-center">
            <td class="col-3"><%= f.label :名前 %></td>
            <td><%= f.text_field :name, class:"form-control form-control-sm align-middle", style:"width: 200px;" %></td>
          </tr>
          <tr class="text-center">
            <td class="col-3"><%= f.label :フリガナ %></td>
            <td><%= f.text_field :name_ruby, class:"form-control form-control-sm align-middle", style:"width: 200px;" %></td>
          </tr>
          <tr>
            <td class="col-3 text-center"><%= f.label :ニックネーム %></td>
            <td>
              <%= f.text_field :nickname, class:"form-control form-control-sm align-middle", style:"width: 200px;" %>
              <span id="nickname-count" class="ml-0 text-right text-muted">0 / 15文字</span>
            </td>
          </tr>
          <tr class="text-center">
            <td class="col-3"><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-sm align-middle", style:"width: 400px;" %></td>
          </tr>
          <tr>
            <td class="col-3 text-center"><%= f.label :パスワード %></td>
            <td>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control form-control-sm align-middle", style:"width: 400px;" %>
              <% if @minimum_password_length %>
                <span>(<%= @minimum_password_length %> 文字以上の半角英数字で登録)</span>
              <% end %><br />
            </td>
          </tr>
          <tr>
            <td class="col-3 text-center"><%= f.label :パスワード確認 %></td>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control form-control-sm align-middle", style:"width: 400px;" %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pt-4">
              <%= f.submit "登録", class:"btn btn-primary col-3" %>
              <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "btn btn-secondary ml-3 sign_in ", method: :post %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pt-4"><%= render "public/shared/links" %></td>
          </tr>
        </table>
        <% end %>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

<%#文字数カウンター%>
<script>
  $(document).ready(function() {
    const textField = $("#member_nickname");
    const nicknameCount = $("#nickname-count")

    textField.on("input", function() {
      const count = textField.val().length;
      nicknameCount.text(count + " / 15文字");
    });
  });
</script>