<!DOCTYPE html>
<html>
  <head>
    <title>FourCamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/cab60e2107.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-1" href="/"><%= image_tag('logo.jpg') %></a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if member_signed_in? %>
            <li class="nav-item-name h3">
              ようこそ、<%= current_member.nickname %>さん！
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", member_path(current_member), class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'キャンプ場一覧', campsites_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%#= link_to 'カート', shopping_cart_items_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "キャンプ場一覧", admin_campsites_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to '会員一覧', admin_members_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'レビュー一覧', admin_reviews_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "サイト紹介", about_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "キャンプ場一覧", campsites_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_member_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_member_session_path, class: 'nav-link text-dark' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div>
        <%= link_to "お問い合わせ", new_contact_path, class: 'btn btn-success' %>
      </div>
    </footer>
  </body>
</html>
